body{
    background-image: linear-gradient(green, blue, green);
}
h1{
    text-align: center;
    color:white;
}
h3{
    font-style: oblique;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-stretch: semi-expanded;
    text-align: center;
    color: white;
}
a{
    font-family:inherit;
    text-align: center;
    color: white;   
}
h2 {
    font-family:inherit;
    text-align: center;
    color: white; 
}
header{
    background-color: black;
}
