body{
    background-color: navy;
}
h1{
    text-align: center;
    color:white;
}
h3{
    font-style: oblique;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-stretch: semi-expanded;
    text-align: center;
    color: white;
}

h2 {
    font-family:inherit;
    text-align: center;
    color: aqua; 
}
header{
    background-color: black;
}
