body{
    background-color: darkblue;
}
h1{
    text-align: center;
    color: rgb(64, 205, 224);
}
h3{
    font-style: oblique;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-stretch: semi-expanded;
    text-align: center;
    color: rgba(89, 250, 129, 0.986);
}
h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    color: aqua; 
}
header{
    background-color: black;
}
